<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <aside class="sidebar" id="sidebar">
        <div class="btn-close-sidebar" id="closeSidebar">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5">
                <path d="M18 6L6 18M6 6l12 12"></path>
            </svg>
        </div>

        <a href="#" class="brand">
            <div class="brand-logo">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd"
                        d="M6 2a2 2 0 0 0-2 2v15a3 3 0 0 0 3 3h12a1 1 0 1 0 0-2h-2v-2h2a1 1 0 0 0 1-1V4a2 2 0 0 0-2-2h-8v16h5v2H7a1 1 0 1 1 0-2h1V2H6Z"
                        clip-rule="evenodd" />
                </svg>
            </div>
            <h2>Biblioteca</h2>
        </a>

        <ul class="nav-list">
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <svg id="icono" class="w-[34px] h-[34px] text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5" />
                    </svg>
                    Inicio
                </a>
            </li>
            <li class="nav-item ac">
                <a href="/listado" class="nav-link active">
                    <svg id="icono" class="w-[34px] h-[34px] text-gray-800 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-width="2"
                            d="M9 8h10M9 12h10M9 16h10M4.99 8H5m-.02 4h.01m0 4H5" />
                    </svg>
                    Listado Completo
                </a>
            </li>
        </ul>

        <div class="sidebar-footer">
            <a href="#" class="nav-link" style="margin-top: 1rem;">
                <svg id="icono" class="w-[34px] h-[34px] text-gray-800 dark:text-white" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M5 12h14M5 12l4-4m-4 4 4 4" />
                </svg>
                Salir
            </a>
        </div>
    </aside>
    <main class="main-content">
        <div class="component-wrapper">

            <div class="search-bar">
                <!-- Simple SVG Magnifying glass -->
                <svg class="search-icon" viewBox="0 0 24 24">
                    <path
                        d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                </svg>
                <input type="text" id="searchInput" class="search-input"
                    placeholder="Buscar Libros por su Código, Titulo, Autor...">
            </div>

            <div class="cta-container-2">
                <a style="padding: 0.5rem;" href="/registro"><button class="btn-cart">
                        <div class="btn-text-content">
                            <svg class="icon-cart" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                                height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="M5 12h14m-7 7V5" />
                            </svg>
                            <span>Añadir Libro</span>
                        </div>
                    </button>
                </a>
                <div class="icon-btn-container-1">
                    <div class="split-btn-1" >
                        <button type="button" class="icon-btn-2" onclick="renderizarBiblioteca()" aria-label="Actualizar" title="Actualizar">
                            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.651 7.65a7.131 7.131 0 0 0-12.68 3.15M18.001 4v4h-4m-7.652 8.35a7.13 7.13 0 0 0 12.68-3.15M6 20v-4h4"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div class="table-container">
                <div class="table-wrapper">
                    <table id="dataTable">
                        <thead>
                            <tr>
                                <th scope="col">Código ISBN</th>
                                <th scope="col">Título</th>
                                <th scope="col">Autor</th>
                                <th scope="col">Año de Publicación</th>
                                <th scope="col">Forma de Obtención</th>
                                <th scope="col" class="cell-actions">Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="cuerpoTabla">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <script src="../js/ui.js"></script>
    <script src="../js/renderizarBD.js"></script>
</body>

</html>